<section>
  <div class="page-header">
    <h1 ng-bind="vm.project.name"></h1>
  </div>

  <div class="pull-right"
    ng-show="vm.project.isCurrentUserOwner">
    <a class="btn btn-primary"
      ui-sref="projects.edit({ projectId: vm.project._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
    <div class="btn btn-primary" ng-class="{'active':vm.project.active}" ng-click="vm.setActive(!vm.project.active)">
        <span ng-show="vm.project.active" class="glyphicon glyphicon-check"></span>
        <span ng-show="!vm.project.active" class="glyphicon glyphicon-unchecked"></span>
        {{vm.project.active ? "Active " : "Inactive "}}
    </div>
  </div>

  <small>
    <em class="text-muted">
      Updated on
      <span ng-bind="vm.project.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.project.user"
            ng-bind="vm.project.user.displayName"></span>
      <span ng-if="!vm.project.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.project.content"></p>


  <div class="page-header">
    <h1>Reference Specifications </h1>
  </div>

  <div class="btn btn-primary" ng-click="vm.createSpecifications('REF')">
    <i class="glyphicon glyphicon-plus"></i>
    New Reference Specification
  </div>

  <div class="list-group">
    <a class="list-group-item">
      <small class="list-group-item-text">
        Updated on Sep 22, 2016 by Sébastien BOSCH
      </small>
      <h4 class="list-group-item-heading">CCTP_XXX_001 </h4>
    </a>
    <a class="list-group-item">
      <small class="list-group-item-text">
        Updated on Sep 22, 2016 by Sébastien BOSCH
      </small>
      <h4 class="list-group-item-heading">CCAP_XXX_001</h4>
    </a>
   <!--
    <a ng-repeat="specification in vm.projects.specifications"
      ui-sref="specifications.view({ specificationId: specification._id })"
      class="list-group-item">
      <small class="list-group-item-text">
        Updated on
        <span ng-bind="specification.created | date:'mediumDate'"></span>
        by
        <span ng-if="specification.user" ng-bind="specification.user.displayName"></span>
        <span ng-if="!specification.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="specification.name"></h4>
    </a>-->
  </div>


  <div class="page-header">
    <h1>Project Specifications</h1>
  </div>
  <div class="btn btn-primary" ng-click="vm.createSpecifications('PROJECT')">
    <i class="glyphicon glyphicon-plus"></i>
    New Project Specification
  </div>
  <div class="list-group">
    <a class="list-group-item">
      <small class="list-group-item-text">
        Updated on Sep 22, 2016 by Sébastien BOSCH
      </small>
      <h4 class="list-group-item-heading">STB_XXX_001 </h4>
    </a>
    <a class="list-group-item">
      <small class="list-group-item-text">
        Updated on Sep 22, 2016 by Sébastien BOSCH
      </small>
      <h4 class="list-group-item-heading">STB_XXX_002 </h4>
    </a>
        <a class="list-group-item">
      <small class="list-group-item-text">
        Updated on Sep 22, 2016 by Sébastien BOSCH
      </small>
      <h4 class="list-group-item-heading">STB_XXX_003 </h4>
    </a>
        <a class="list-group-item">
      <small class="list-group-item-text">
        Updated on Sep 22, 2016 by Sébastien BOSCH
      </small>
      <h4 class="list-group-item-heading">STB_XXX_004 </h4>
    </a>
        <a class="list-group-item">
      <small class="list-group-item-text">
        Updated on Sep 22, 2016 by Sébastien BOSCH
      </small>
      <h4 class="list-group-item-heading">STB_XXX_005 </h4>
    </a>    <!--
    <a ng-repeat="specification in vm.projects.specifications"
      ui-sref="specifications.view({ specificationId: specification._id })"
      class="list-group-item">
      <small class="list-group-item-text">
        Updated on
        <span ng-bind="specification.created | date:'mediumDate'"></span>
        by
        <span ng-if="specification.user" ng-bind="specification.user.displayName"></span>
        <span ng-if="!specification.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="specification.name"></h4>
    </a>-->
  </div>

</section>
